$background-color: #f0f0f0;
$background-color-alt: #dff0d8;
$text-color: #333;
$primary-color: #3498db;
$secondary-color: #2ecc71;

$font-stack: 'Arial', sans-serif;

/*----- Color -----*/
$color-light-1: #DCDCDC;
$color-content-primary: rgb(214, 214, 214);

$color-dark-1: #000;
$color-link-hover-1: gold;


/*----- Background Color -----*/
$bg-dark-1: rgba(0,0,0, 0.8);
$bg-dark-default: rgb(32, 33, 36);

$bg-gray-1: rgba(128,128,128, 10); /* Grey */

/*----- Font-Size -----*/
$font-size-title-main-1: 40px;
$font-size-title-main-2: 32px;
$font-size-span-title-main-1: 25px;
